.screen {
  width: 100%;
  height: 100%;
  viewport-fill: #364699;
}

text {
  font-family: System-Regular;
  font-size: 30;
  font-weight: bold;
  text-anchor: start;
  fill: white;
}

#icon-gps {
  href: "images/icons/icn_status_gps.png";
  x: 8;
  y: 8;
  width: 32;
  height: 32;
  fill: "fb-orange";
}

#icon-time {
  href: "images/icons/icn_status_gps.png";
  x: 8;
  y: 8;
  width: 32;
  height: 32;
  fill: "fb-orange";
}

#lblClock {
  x: 50%;
  y: 32;
  font-size: 28;
  text-length: 8;
  text-anchor: middle;
}

.bignumber {
  font-size: 120;
  font-family: System-Light;
  fill: #FDD303;
  x: -4;
  y: 84;
  height: 110;
  text-length: 20;
}

.label {
  font-size: 32;
  fill: #FDD303;
  text-length: 66;
}

.item .label {
  y: $-80;
}

#subview-hrm .label {
  y: $-80;
}
